.countdownwrap {
	// width: 112px;
	height: 18px;
	color:#fff;
	border:1px solid #f2270c;
	border-radius: 18px;
	background-image: linear-gradient(90deg,#f10001,#fe4e18);
}

.countdown {
	color: #f2270c;
}