.discountwrap {
	position:relative;
	width: 100%;
	margin:0px auto 0px auto;
	padding:18px 20px 5px 38px;
    background: #fff;
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -o-align-items: center;
    align-items: center;
   -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
	div {
		width:100%;
		margin:0 0 10px 0;
		display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	    display: -moz-box; /* 老版本语法: Firefox (buggy) */
	    display: -moz-flex; /* Firefox 18+ */  
	    display: -ms-flexbox; /* 混合版本语法: IE 10 */
	    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	    padding-left: 10px;

	}

}

.discountlogo {
	position:absolute;
	display: block;
	top:18px;
	left:9px;
	font-weight: bold;
	font-size:14px;

}

#icondeng {
	position:absolute;
	display: block;
	top:18px;
	right:9px;
	font-weight: bold;
}

.desc1 {
	color:#333;
	font-size: 12px;
}

.servce {
	color:#8c8c8c;
	font-size: 12px;
}